<% provide(:title, "Search") %>
<div class="row">
  <div class="col-md-8">
    <p>micropost serch</p>
    <%= form_tag user_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
