<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Insta Clone</h1>
    <h2>下項目からログイン方法を選んでください</h2>
    <div class="lp">
      <img src="/assets/iphone02.jpg">
      <div class="first">初めての方はこちら</div>
      <div class="sign-up"><%= link_to "新規アカウント作成", signup_path, class: "btn btn-lg btn-primary" %></div>
      <div class="second">ログインはこちら</div>
      <div class="login"><%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %></div>
      <div class="facebook-login">facebookログインはこちら</div>
      <p>
        <%= link_to '/auth/facebook', class: "btn btn-social btn-facebook" do %>
          <span class="fa fa-facebook"></span> Facebookアカウントでログイン
        <% end %>
      </p>
    </div>
  </div>
<% end %>
