<% provide(:title, "Forgot password") %>
<h1>password reset</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_resets, url: password_reset_path, html: {method: "patch"}) do |f| %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :new_password %>
      <%= f.password_field :reset, class: 'form-control' %>
      
      <%= f.label :new_password_confirmation %>
      <%= f.password_field :reset_confirmation, class: 'form-control' %>
      
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
