<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control' %>
      
      <%= f.label :introduction %>
      <%= f.text_field :introduction, class: 'form-control' %>
      
      <%= f.label :gender %>
      <div class="radio-inline">
        <input type="radio" value="1" name="gender" id="man">
          <label for="man">男性</label>
      </div>
      <div class="radio-inline">
        <input type="radio" value="2" name="gender" id="woman">
        <label for="woman">女性</label>
      </div>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>

<div class="col-md-6 col-md-offset-3">
  <h4><div><%= link_to "アカウントを削除する", user_path, method: :delete,
            data: { confirm: "本当によろしいですか?" } %>
            
  パスワードを変更する方は<%= link_to "こちら", 
                  edit_password_reset_path %></div></h4>
</div>
