<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <p>ユーザ情報</p>
    <p>名前：<%= @user.name %></p>
    <p>表示名：<%= @user.user_name %></p>
    <p>web：<% if @user.website.present? %><%= @user.website %><% end %></p> 
    <p>自己紹介：<p>
    <p><% if @user.introduction.present? %><%= @user.introduction %><% end %></p>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
