<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "insta clone", root_path, id: "logo" %>
    <% if logged_in? %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Search", search_path(current_user.id) %></li>
          <li><%= link_to "Notice", help_path %></li>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    <% end %>
  </div>
</header>
